.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.description {
  width: 60%;
  text-align: end;

}

.names {
  display: flex;
  flex-direction: column;
  left: 6rem;
  bottom: 22rem;
  text-align: start;

}

.home {
  padding: 3% 6%;
  display: flex;
  gap: 3em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 2;

}
@media screen and (max-width: 768px) {
  .home{
    gap: 0;
  }
}

.name {
  display: flex;
  flex-direction: column;
  gap: 11px;

}

@media screen and (max-width: 768px) {

  .home svg {
    width: 73px;
    height: 96px;
  }

  .letterI {
    width: 17px !important;
    height: 96px !important;
  }
}

.prenom {
  display: flex;
  gap: 11px;
}

.nom {
  display: flex;
  gap: 11px;
}

.descriptionP {
  font-size: 28px;
  text-align: center;
}