.main {
  height: fit-content;
  padding: 0 10% 6% 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.main img {
  object-fit: contain;
  width: 30%;
  height: auto;
  border-radius: 8px;
  margin: 5% 0 5% 0;
}

@media screen and (max-width: 768px) {
  .main img {
    width: 100%;
  }

  .main {
    padding: 0 10% 10% 10%;
  }

  .main h3 {
    font-size: 35px;
  }
}

.main h3 {
  font-size: 58px;
  font-weight: 700;
  margin-top: 1em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main h3 {
    margin-top: 0;
  }
}

.main p {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main p {
    font-size: 20px;
  }

}

.main p span {
  font-weight: 700;
  color: #DF8181;
  background-color: #FFFCF2;
}

.main p:last-child:not(.content p) {
  margin-top: 2em;
  text-align: center;
  font-weight: 300;
  font-size: 28px;
  color: #0F5971;
}

.main p:last-child:not(.content p) span {
  color: black;
}


.cv {
  background-color: #3D94B2;
  color: #FFFCF2;
  padding: 3% 6% 6% 6%;
  display: flex;
  gap: 5%;


}


@media screen and (max-width: 768px) {
  .cv {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.cv li {
  color: #FFFCF2 !important;
}

.cv h3 {
  color: #FFFCF2;
  font-size: 36px;
  margin-bottom: .5em;
}

.cv h4 {
  color: #FFFCF2;
  font-size: 30px;
}

.leftside {
  width: 50%;
}

.rightside {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .leftside {
    width: 100%;
  }

  .rightside {
    width: 100%;
  }
}

.separator {
  width: 3px;
  background-color: #0F5971;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.box {
  position: relative;
  width: auto;
  height: 75px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
  color: #DF8181;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: #DF8181;
  transition: 0.5s ease-in-out;
}

.box:hover::before {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box .content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

.box .content .icon {
  position: relative;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #DF8181;
  transition: 0.5s ease-in-out;
}

.box:hover .content .icon {
  color: #FFFCF2;
}

.box .content .text h4 {
  font-weight: 500;
  color: #DF8181;
  transition: 0.5s ease-in-out;
}

.box .content .text p {
  font-size: 0.9em;
  color: #0F5971;
  transition: 0.5s ease-in-out;
}

.box:hover .content .text h4,
.box:hover .content .text p {
  color: #FFFCF2;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;

}


.content p {
  font-size: 36px;
  font-weight: 400;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column-reverse;

  }

  .content p {
    font-size: 25px;
  }
}

.content img {
  width: 10%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .vangogh {
    padding: 0;
    width: 90%;
  }

  .guitare {
    transform: scaleX(-1) rotate(270deg);

  }

  .content img {
    height: fit-content;
    padding: 10% 0;

  }
}

.wrapper {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.wrapper .dynamictxts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamictxts li {
  list-style: none;
  color: #DF8181;
  font-size: 60px;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamictxts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
  color: #0F5971;
  user-select: none;
}

.dynamictxts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFFCF2;
  border-left: 2px solid #0F5971;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}